@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.catalog{
  padding: 24px 0;
  &__title{
    margin: 0 0 24px;
    font-family: $font-family-bold;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
  }
  &__wrapper{
    display: grid;
    grid-template-columns: minmax(50px,330px) 1fr;
    grid-gap: 24px;
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
  }
  &__control-panel{
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
  }
}
.filter-prod{
  &__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0 0 24px;
  }
  &__close{
    display: none;
  }
  &__fieldset{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    &:not(:last-child){
      margin: 0 0 16px;
    }
  }
  &__legend{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 8px;
    margin:  0 0 8px;
    border-bottom: 1px solid $primary-color-1;
    width: 100%;
    transition: margin-left 0.3s ease;
    cursor: pointer;
  }
  &__wrap-category-list{
    transition: max-height ease .3s;
    overflow: hidden;
    max-height: 0;
  }
  &__category-list{
    padding: 8px 12px;
    border: 1px solid $primary-color-1;
  }
  &__item{
    &:not(:last-child){
      margin: 0 0 8px;
    }
  }
  &__input{
    margin: 0;
    transition: color ease-in-out .3s, opacity ease-in-out .3s;
    &:checked + span {
      color: $primary-color-3;
    }
  }
  &__color-span{
    display: inline-block;
    margin: 0 8px 0 0;
    width: 8px;
    height: 8px;
    outline: 1px solid $primary-color-3;
    transition: color ease-in-out .3s, opacity ease-in-out .3s;
  }
  &__label{
    cursor: pointer;
    transition: color ease-in-out .3s, opacity ease-in-out .3s;
    &:has(.filter-prod__input:checked) {
      opacity: 0.5;
    }
  }
  &__buttons{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 12px;
  }
  &__button{
    display: block;
    width: 100%;
    white-space: nowrap;
  }
  &__range-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    input{
      border: none;
      outline: none;
      background: none;
      color: $primary-color-1;
      &:first-child{
        text-align: left;
      }
      &:last-child{
        text-align: right;
      }
    }
  }
  &__range-slider{
    display: grid;
    position: relative;
    z-index: 5;
    input{
      grid-row: 2;
      grid-column: 1;
      pointer-events: none;
      background: transparent;
      &::-webkit-slider-thumb{
        pointer-events: auto;
        appearance: none;
        width: 8px;
        height: 8px;
        background: $primary-color-1;
        cursor: pointer;
      }
    }
  }
}
.range-slider{
  &__slider{
    position: absolute;
    height: 1px;
    width: 100%;
    background: $primary-color-4;
    transform: translateY(-50%);
    top: 50%;
    overflow: hidden;
    z-index: -1;
  }
  &__progress{
    position: absolute;
    //left: var(--leftOffset);
    height: 100%;
    background: $primary-color-1;
    //width: var(--widthProgress);
    cursor: ew-resize;
  }
}
.control-panel{
  &__open-filter{
    opacity: 0;
    pointer-events: none;
  }
  &__open-filter,
  &__open-sort{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
  }
  &__find-product{
    color: $primary-color-3;
  }
  &__wrapper-sort{
    position: relative;
  }
  &__wrapper-sort-list{
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 5;
    max-height: 0;
    overflow: hidden;
    transition: max-height ease .3s;
  }
  &__sort-list{
    padding: 12px 16px;
    border: 1px solid $primary-color-1;
    background: $primary-color-2;
  }
  &__sort-item{
    &:not(:last-child){
      margin: 0 0 8px;
    }
  }
  &__sort-btn{
    white-space: nowrap;
  }
}