@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.lookbook-repeat{
  padding: 24px 0;
  @include tablet{
    padding: 12px 0;
  }
  &__container{
    display: flex;
  }
  &__thin-pic{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 602px;
  }
  &__wide-pic{
    display: block;
    width: 100%;
  }
  &__thin-pic,
  &__wide-pic,
  &__two-item,
  &__three-item{
    display: block;
    height: 753px;
  }
  &__wide-pic{
    @include mobile{
      height: 195px;
    }
  }
  &__thin-pic,
  &__two-item{
    @include mobile{
      height: 438px;
    }
  }
  &__three-item{
    @include mobile{
      height: 590px;
    }
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__two-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
    @include mobile{
      display: flex;
      overflow: auto;
      height: 458px;
      gap: 0;
      scroll-snap-type: x mandatory;
      &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
      }
      &::-webkit-scrollbar-track {
        background: rgb(191, 191, 191);
      }
      &::-webkit-scrollbar-thumb {
        background: $primary-color-1;
        border-radius: 10px;
      }
    }
  }
  &__two-item{
    width: 100%;
    max-width: 601px;
  }
  &__two-item,
  &__three-item{
    @include mobile{
      flex-shrink: 0;
      width: 100%;
      max-width: var(--look-width);
      scroll-snap-align: start;
    }
  }
  &__three-list{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 24px;
    width: 100%;
    @include mobile{
      display: flex;
      overflow: auto;
      height: 610px;
      grid-gap: 0;
      scroll-snap-type: x mandatory;
      &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
      }
      &::-webkit-scrollbar-track {
        background: rgb(191, 191, 191);
      }
      &::-webkit-scrollbar-thumb {
        background: $primary-color-1;
        border-radius: 10px;
      }
    }
  }
}