@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.hero{
  position: relative;
  padding: 378px 0 24px;
  color: $primary-color-2;
  overflow: hidden;
  &__swiper{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    &-wrapper{
      width: 100%;
      height: 100%;
    }
    &-slide,
    &-pic,
    &-img{
      width: 100%;
      height: 100%;
    }
    &-img{
      object-fit: cover;
    }
    &-pic{
      position: relative;
      display: block;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  &__container{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include tablet{
      justify-content: center;
    }
  }
  &__link{
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    @include tablet{
      display: none;
    }
  }
  &__arrow{
    width: 10px;
    height: 10px;
  }
  &__logo{
    display: block;
    width: 100%;
    height: 397px;
    max-width: 640px;
    object-fit: contain;
    @include small-tablet{
      height: 300px;
    }
    @include mobile{
      height: 202px;
    }
  }
}