mixin hero(data)
    -const slideImages = [{srcDesk:'images/hero__one.avif',secMob:'images/hero__one--mobile.avif'},{srcDesk:'images/hero__two.avif',secMob:'images/hero__two.avif'},{srcDesk:'images/hero__three.avif',secMob:'images/hero__three.avif'}]
    section.hero
        .swiper.hero__swiper
            ul.swiper-wrapper.hero__swiper-wrapper
                each item in slideImages
                    li.swiper-slide.hero__swiper-slide
                        +image({src: item.srcDesk,klassPic:'hero__swiper-pic',klassImg:'hero__swiper-img'})
                        +image({src: item.secMob,klassPic:'hero__swiper-pic hero__swiper-pic--mobile',klassImg:'hero__swiper-img'})
        .container.hero__container
            a(href='#' target='_blank').hero__link Инстаграмм
                +image({src: 'images/arrow-right.svg', klassImg: 'hero__arrow', quickLoad: false})
            +image({src: 'images/hero__logo.svg', klassImg: 'hero__logo', quickLoad: false})
            a(href='#' target='_blank').hero__link Написать менеджеру
                +image({src: 'images/arrow-right.svg', klassImg: 'hero__arrow', quickLoad: false})