@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.not-found{
  position: relative;
  padding: 298px 0 24px;
  color: $primary-color-2;
  @include landscape-mobile{
    padding: 233px 0;
  }
  &__container{
    position: relative;
    z-index: 1;
  }
  &__bg{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include mobile{
      display: none;
    }
    &--mobile{
      display: none;
      @include mobile{
        display: block;
      }
    }
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content-block{
    margin: 0 auto 234px;
    width: 100%;
    max-width: 448px;
    text-align: center;
    color: $primary-color-2;
    @include landscape-mobile{
      margin: 0 auto;
    }
  }
  &__title{
    font-family: $font-family-beauty;
    font-weight: 400;
    font-size: 240px;
    line-height: 100%;
    letter-spacing: -8%;
    @include landscape-mobile{
      font-size: 120px;
    }
  }
  &__sub-title{
    line-height: 120%;
    a{
      text-decoration: underline;
    }
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include landscape-mobile{
      display: none;
    }
  }
  &__link{
    display: flex;
    align-items: center;
    gap: 9px;
  }
}