@font-face {
  font-family: 'Impact';
  font-display: swap;
  src: url('../styles/fonts/Impact.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PinyonScript';
  font-display: swap;
  src: url('../styles/fonts/PinyonScript.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  font-display: swap;
  src: url('../styles/fonts/HelveticaNeue.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}