@use "fonts";
@use "variables";
@use "mixins";
@use "typography";

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: variables.$font-family-base;
  font-size: variables.$font-base-size;
  line-height: 120%;
  color: variables.$primary-color-1;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 5px; /* Ширина для вертикального скроллбара */
  }
  &::-webkit-scrollbar-track {
    background: rgb(191, 191, 191);
  }
  &::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
  }
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

input, select {
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
}

a,
button {
  outline: none;

  &:focus {
    outline: none;
  }
}

button, p {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 24px;
  margin: 0 auto;
  @include mixins.tablet {
    padding: 0 12px;
  }
}

.button {
  display: inline-block;
  padding: 11px 20px;
  font-weight: 400;
  font-size: 14px;
  leading-trim: NONE;
  text-align: center;
  line-height: 120%;
  letter-spacing: 0;
  color: variables.$primary-color-2;
  background-color: variables.$primary-color-1;
  transition: background-color 0.1s ease, color 0.1s ease;
  text-decoration: none !important;
  cursor: pointer;
  &:hover{
    background-color: variables.$primary-color-3;
  }
}

.button--white {
  color: variables.$primary-color-1;
  background-color: variables.$primary-color-2;
  border: 1px solid variables.$primary-color-3;
  &:hover{
    color: variables.$primary-color-2;
    background-color: variables.$primary-color-3;
  }
}
.card{
  &__link-item,
  &__link-img {
    display: block;
  }
  &__link-item{
    text-decoration: none !important;
    transition: color 0.3s ease;
    &:hover{
      color: variables.$primary-color-3
    }
  }
  &__link-img {
    margin: 0 0 8px;
    overflow: hidden;
    &:hover {
      .card__img{
        transform: scale(1.2);
      }
    }
  }

  &__img,
  &__pic {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__img{
    transition: transform 0.3s ease-out;
  }

  &__bottom-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    @include mixins.landscape-mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__count {
    text-align: right;
    grid-row: 1;
    grid-column: 2;
    color: rgba(140, 140, 140, 1);
    @include mixins.landscape-mobile {
      text-align: left;
      grid-row: 1;
      grid-column: 1;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}