$large-size:1920px;
$base-size: 1440px;
$notebook-base-size: 1280px;
$tablet:1024px;
$small-tablet:991px;
$landscape-mobile:767px;
$mobile:480px;

$font-base-size:14px;
$font-family-base:'Helvetica Neue', sans-serif;
$font-family-bold:'Impact', sans-serif;
$font-family-beauty:'PinyonScript', sans-serif;

$primary-color-1: #000;
$primary-color-2: #fff;
$primary-color-3: #8C8C8C;
$primary-color-1-hover: rgba(0, 0, 0, 0.33);