@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.product-main{
  padding: 24px 0 48px;
  @include tablet{
    padding: 24px 0 12px;
  }
  &__container{
    position: relative;
    display: grid;
    grid-template-columns:330px 1fr 330px;
    grid-gap: 24px;
    align-items: flex-start;
    @include tablet{
      grid-template-columns:230px 1fr 230px;
    }
    @include landscape-mobile{
      grid-template-columns: 1fr;
    }
  }
  &__info-product,
  &__thumb-list{
    position: sticky;
    top: 110px;
  }
  &__info-product{
    @include landscape-mobile{
      position: relative;
      top: 0;
    }
  }
  &__gallery-list{
    @include landscape-mobile{
      display: flex;
      grid-row: 1;
      overflow: auto;
      height: 372px;
      scroll-snap-type: x mandatory;
    }
    &::-webkit-scrollbar {
      width: 2px; /* Ширина для вертикального скроллбара */
      height: 2px;
    }
    &::-webkit-scrollbar-track {
      background: rgb(191, 191, 191);
    }
    &::-webkit-scrollbar-thumb {
      background: #000;
      border-radius: 10px;
    }
  }
  &__gallery-item{
    height: 351px;
    @include tablet-minW{
      height: 461px;
    }
    @include notebook-base-size-minW{
      height: 561px;
    }
    @include base-size-minW{
      height: 798px;
    }
    @include landscape-mobile{
      flex-shrink: 0;
    }
    @include mobile{
      width: var(--slide-width);
      scroll-snap-align: start;
    }
  }
  &__thumb-list{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 24px;
    justify-items: flex-end;
    justify-content: flex-end;
    @include landscape-mobile{
      display: none;
    }
  }
  &__thumb-item{
    width: 94px;
    height: 117px;
    cursor: pointer;
    transition: opacity ease .3s;
    &--active{
      opacity: 0.4;
    }
  }
  &__pic{
    display: block;
  }
  &__img,
  &__pic{
    width: 100%;
    height: 100%;
  }
  &__img{
    @include mobile{
      object-fit: cover;
    }
  }
  &__add-product{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 24px;
  }
}
.info-product{
  &__price,
  &__title{
    font-size: 24px;
    line-height: 120%;
    font-family: $font-family-bold;
    font-weight: 400;
  }
  &__price{
    margin: 0 0 16px;
  }
  &__mini-title{
    margin: 0 0 4px;
    color: $primary-color-3;
  }
  &__discription-block,
  &__compound-block,
  &__application-block,
  &__color-block,
  &__sizes-block{
    margin: 0 0 12px;
  }
  &__sizes-block{
    margin: 0 0 24px;
  }
}
.discription-block{
  &__richtext{
    ul,ol{
      padding-left: 18px;
      list-style: inherit;
      margin-bottom: 8px;
    }
    p{
      margin-bottom: 8px;
    }
  }
}
.sizes-block{
  &__list{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__item{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    padding: 11px 10px;
    text-align: center;
    border:1px solid $primary-color-3
  }
}
.color-block{
  &__list{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__item{
    display: flex;
    align-items: center;
    gap: 6px;
    &:before{
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: var(--bg);
    }
  }
}
.add-product{
  &__wish{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid $primary-color-3;
    svg{
      width: 18px;
      height: 18px;
    }
  }
}
.faq-prod{
  &__item:not(:last-child){
    margin: 0 0 16px;
    @include tablet{
      margin: 0 0 12px;
    }
  }
  &__button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 0 0 8px;
    width: 100%;
    border-bottom: 1px solid $primary-color-1;
    font-family: $font-family-bold;
    transition: margin ease-in-out .3s;
    cursor: pointer;
    &--active{
      margin: 0 0 8px;
    }
  }
  &__richtext{
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s ease-in-out;
    p,a{
      margin: 0 0 8px;
    }
    a{
      display: block;
    }
    ol,ul{
      padding-left: 18px;
      list-style: initial;
    }
    span{
      color: $primary-color-3;
    }
  }
}