mixin about(data)
  -const aboutSlide = [{slideTopTitle:'About Bob Lee',slideChapter:'[ Глава 1 ]',slideText:'Bob Lee (@mister.bob.lee) — концептуальный унисекс бренд, вдохновленный стриткультурой и современным стилем.'},]
  section.about
    .container.about__container