extends ../pug/layout.pug
include ../components/lookbook/lookbook.pug
include ../components/hero/hero.pug
include ../components/about/about.pug
include ../components/new-arraival/new-arraival.pug
include ../components/influencer/influencer.pug

block title
  title Index
block content
    +hero
    +about
    +new-arraival
    +influencer
    +lookbook