mixin influencer(data)
  section.influencer
    .container.influencer__container
        .influencer__head
            h2.influence__title Инфлюенсеры
            p.influence__sub-title У нас много друзей по всему миру и мы рады, когда люди распространяют влияние Bob`a по разным регионам и делятся красивой одеждой с миром.
            a(href='#') Связаться с нами