@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.new-product{
  padding: 24px 0 48px;
  @include mobile{
    padding: 24px 0;
  }
  &__title{
    font-family: $font-family-bold;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    margin: 0 0 24px;
    @include mobile{
      font-size: 32px;
      margin: 0 0 12px;
    }
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 24px;
    margin: 0 0 23px;
    @include landscape-mobile{
      grid-template-columns: repeat(2,1fr);
    }
    @include mobile{
      grid-template-columns: repeat(1,1fr);
      grid-gap: 12px;
    }
  }
  &__item{
    &:nth-child(12n + 1) {
      grid-column: 1/3;
      @include landscape-mobile{
        grid-column: auto;
      }
    }
    &:nth-child(12n + 2){
      grid-column: 4/5;
      @include landscape-mobile{
        grid-column: auto;
      }
    }
    &:nth-child(12n + 3){
      grid-column: 3/4;
      @include landscape-mobile{
        grid-column: auto;
      }
    }
    &:nth-child(12n + 4){
      grid-column: 4/5;
      @include landscape-mobile{
        grid-column: auto;
      }
    }
    &:nth-child(12n + 5){
      grid-column: 2/3;
      @include landscape-mobile{
        grid-column: auto;
      }
    }
    &:nth-child(12n + 6){
      grid-column: 1/2;
      @include landscape-mobile{
        grid-column: auto;
      }
    }
    &:nth-child(12n + 7){
      grid-column: 4/5;
      @include landscape-mobile{
        grid-column: auto;
      }
    }
    &:nth-child(12n + 8){
      grid-column: 1/2;
      @include landscape-mobile{
        grid-column: auto;
      }
    }
    &:nth-child(12n + 9){
      grid-column: 3/5;
      @include landscape-mobile{
        grid-column: auto;
      }
    }
    &:nth-child(12n + 10){
      grid-column: 1/2;
      @include landscape-mobile{
        grid-column: auto;
      }
    }
    &:nth-child(12n + 11){
      grid-column: 2/3;
      @include landscape-mobile{
        grid-column: auto;
      }
    }
    &:nth-child(12n + 12){
      grid-column: -4/3;
      @include landscape-mobile{
        grid-column: auto;
      }
    }
  }
  &__loadmore{
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}