@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
.lookbook{
  position: relative;
  padding: 176px 0;
  color: $primary-color-2;
  @include mobile{
    padding: 170px 0;
  }
  &__bg-picture{
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    @include mobile{
      display: none;
    }
    &--mobile{
      display: none;
      @include mobile{
        display: block;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.24);
    }
  }
  &__block{
    display: flex;
    flex-flow: column;
    position: relative;
    margin: 0 auto;
    padding: 24px;
    width: 100%;
    max-width: 448px;
    background-color: rgb(255 255 255 / 8%);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.45);
    @include mobile{
      max-width: 300px;
    }
    &-bottom{
      display: flex;
      justify-content: space-between;
    }
    &-text{
      span{
        margin-left: 4px;
        color: $primary-color-3;
      }
    }
    &:before{
      content: "";
      position: absolute;
      z-index: 1;
      inset: 0;
      padding: 1px;
      border-radius: inherit;
      background: linear-gradient(360deg, #666666ad, #b1b1b1);
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
      transition: opacity 0.4s
      ease;
      opacity: 1;
    }
  }
  &__middle-pic{
    display: block;
    margin: 0 auto 73px;
    width: 196px;
    height: 196px;
    @include mobile{
      margin: 0 auto 7px;
    }
  }
  &__middle-img{
    width: 100%;
    height: 100%;
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title{
    margin: 0 0 73px;
    font-family: $font-family-beauty;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    color: inherit;
    text-align: center;
    @include mobile{
      margin: 0 0 7px;
      font-size: 24px;
    }
  }
  &__link{
    display: inline-flex;
    gap: 4px;
    align-items: center;
  }
  &__arrow{
    width: 10px;
    height: 10px;
    object-fit: contain;
  }
}