@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.contacts{
  padding: 24px 0;
  &__wrapper{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 24px;
  }
  &__title{
    margin: 0 0 46px;
    font-family: $font-family-bold;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
  }
  &__map,
  &__pic{
    width: 100%;
    height: 599px;
  }
  &__img{
    width: 100%;
    height: 100%;
  }
}