@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.related-products{
  padding: 48px 0;
  &__title{
    margin: 0 0 24px;
    font-family: $font-family-bold;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    @include tablet{
      margin: 0 0 12px;
    }
  }
  &__swiper-wrapper{
    @include tablet{
      margin: 0 0 24px;
    }
  }
  &__link-img{
    display: block;
    margin: 0 0 8px;
    height: 385px;
    overflow: hidden;
    @include mobile{
      height: 198px;
    }
    &:hover{
      .related-products__img{
        transform: scale(1.1);
      }
    }
  }
  &__info{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    @include mobile{
      grid-template-columns: 1fr;
    }
  }
  &__pic{
    display: block;
  }
  &__img,
  &__pic{
    width: 100%;
    height: 100%;
  }
  &__img{
    object-fit: cover;
    transition: transform ease .3s;
  }
  &__price{
    grid-column: 1;
    grid-row: 2;
    @include mobile{
      grid-column: 1;
      grid-row: 3;
    }
  }
  &__count{
    text-align: right;
    color: $primary-color-3;
    grid-column: 2;
    @include mobile{
      text-align: left;
      grid-column: 1;
      grid-row: 1;
    }
  }
  &__swiper-scrollbar{
    position: relative;
    .swiper-scrollbar-drag{
      background: $primary-color-1
    }
  }
}