@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.related-products{
  padding: 48px 0;
  @include tablet{
    padding: 12px 0 24px;
  }
  &__title{
    margin: 0 0 24px;
    font-family: $font-family-bold;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    @include tablet{
      margin: 0 0 12px;
    }
  }
  &__swiper-wrapper{
    @include tablet{
      margin: 0 0 24px;
    }
  }
  &__swiper-scrollbar{
    position: relative;
    .swiper-scrollbar-drag{
      background: $primary-color-1
    }
  }
}